.textButton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-size: var(--type-s-font);
    line-height: var(--type-s-line);
  }
  
  .textButton:hover {
    text-decoration: underline;
  }